body{
    margin: 5px;
    padding: 5px;
    height: 100vh;
    
}

.divButton{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.divButton.btn1{
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    text-decoration-line: none;
    

}

    
.tituloHeader{
    background-image: url(../banners/fondo.png);
    background-position: center;
    background-size: auto;
    display: none;
    font-family: 'Permanent Marker', cursive;
    color: rgb(151, 142, 130);
    font-size: 1.5em ;
    font-weight: 300;
    text-align: match-parent;
    
    border-radius: 2vh;
    box-shadow: lightblue;

}

.imgHeader{
    border-radius: 5vh;
    width: 100%;
    height: 40%;

}
#prendasDiv{
    border: 5px solid rgb(209, 221, 224);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: initial;
    flex-shrink: initial;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 5px; 
    padding: 10px;
}

.carritoSide {
    background-color: rgb(172, 195, 218);
    position: absolute;
    width: 30%;
    height: 50vh;
    overflow-x: hidden;
    z-index: 1;
    opacity: 1;
    padding: 1px;
    margin: 1px;
    
  }
  .carritoSide:hover{
      cursor: pointer;
  }

  .card{
      box-shadow: 3px 2px 3px 2px rgb(170, 169, 169);
      width: 20%;
      margin: 10px;
      padding: 5px;
  }

  .card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .footer1__icons{
    background-color: rgb(144, 180, 204);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: inherit;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    border-radius: 5vh;
    box-shadow: lightblue;
    list-style-type: none;
    opacity: 2px;

  }

  .fondoMain{
      background-image: url(./banners/Portada\ Facebook.png);
      width: 100%;
      height: 50%;
      padding: 5px;
      margin: 5px;
      margin-right: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-style: italic;
      font-family: 'Permanent Marker', cursive;


  }

